[Unit]
Description=gunicorn uvicorn service for Mosite App
After=syslog.target

[Service]
ExecStart=/apps/venv-mosite/bin/gunicorn -b 127.0.0.1:8001 -w 4 -k uvicorn.workers.UvicornWorker main:app --name mosite --chdir /apps/three_by_three_tree/ --access-logfile /apps/logs/three_by_three_tree/access.log --error-logfile /apps/logs/three_by_three_tree/errors.log --user mosite

# \/ \/ <- Added post recording for better restart perf.
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
# /\ /\ <- Added post recording for better restart perf.

# Requires systemd version 211 or newer
RuntimeDirectory=/apps/three_by_three_tree/
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all


[Install]
WantedBy=multi-user.target